img {
	width: 50px;
	height: 50px;
	display: inline;
}
p {
	display: inline;
	font-size: 50px;
	margin: 0px 0px 0px 15px;
} 
hr {
	border-color: #666;
}
td {
	padding: 0px 5px 0px 0px;
}
#attribution {
	font-size: 20px;
	margin: 0px;
}
